.primary-nav{

	&--pull-right {
		
		@mixin atLarge {
			float: auto;
			color: white;
		}
		

	}

	ul {
		margin: 0;
		padding: 0; 

		@mixin clearfix;
	}

	li{
		padding: 10px;
		list-style: none;
		color: white;
		/*padding-left: 700px;*/

		/*a {
			color: black;
		}*/
	    
        
		

		@mixin atLarge {
		/*	font-size: 1.2rem;
			color: white;*/
			list-style: none;
			float: left;
			padding-right: 20px;
			/*color: white;*/
			padding-left: 20px;
			margin-left: 20px;
			font-size: 1.2rem;
			left: 0;
			a {
				color: white;
			}
		}
	}

	a{
		text-decoration: none;
		padding: 5px 0px;
		color: white;

		@mixin atLarge{
			padding: 5px 50px;
		}

		
	}
}